*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif ;
}
body {
    height: 100vh;
    background: linear-gradient(135deg,#8052ec,#d161ff);
}


button{
    width:200px;
    height:200px 
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 600px;
    margin:auto;
}