*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif ;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg,#8052ec,#d161ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.container button{
    width: 200px;
    height: 200px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 600px;
    margin-top: 40px;
}